{
  "exclude": "node_modules/**",
  "plugins": [
    "@babel/plugin-transform-object-assign"
  ],
  "presets": [
    [
      "@babel/preset-env", {
        "modules": false
      }
    ]
  ],
  "assumptions": {
    "constantSuper": true,
    "ignoreToPrimitiveHint": true,
    "noClassCalls": true,
    "noDocumentAll": true,
    "noNewArrows": true,
    "objectRestNoSymbols": true
  }
}
