@control_bg: #e1a91a;
@control_btop: #e5b53a;
@control_bbot: #a07812;
@control_itop: #7e5e0e;
@control_ibot: #d4a631;
@control_inset: #cf9b17;
@control_arrow: #533e09;

@custom_bg: #531e99;
@custom_btop: #9235c4;
@custom_bbot: #44187d;
@custom_itop: #44187e; 
@custom_ibot: #683c9f;
@custom_inset: #4c1b8c;
@custom_arrow: #1e0a38;

@custom-arg_bg: #5947b1;
@custom-arg_btop: #6857b8; // or #6850b2
@custom-arg_bbot: #423584;
@custom-arg_itop: none;
@custom-arg_ibot: none;
@custom-arg_inset: none;
@custom-arg_arrow: none;

@events_bg: #c88330;
@events_btop: #cf944d;
@events_bbot: #8e5d22;
@events_itop: #70491a;
@events_ibot: #c59254;
@events_inset: #b8782c;
@events_arrow: #4a3011;

@list_bg: #cc5b22;
@list_btop: #d26f3d;
@list_bbot: #a74a1b;
@list_itop: #7e3814;
@list_ibot: #c86e3f;
@list_inset: #bb531f;
@list_arrow: #4b210c;

@looks_bg: #8a55d7;
@looks_btop: #9a6ddc;
@looks_bbot: #623c99;
@looks_itop: #4c2f78; 
@looks_ibot: #9670d0;
@looks_inset: #7e4ec5;
@looks_arrow: #1e0a38;

@motion_bg: #4a6cd4;
@motion_btop: #6380da;
@motion_bbot: #344d97;
@motion_itop: #293c76;
@motion_ibot: #6781ce;
@motion_inset: #4463c3;
@motion_arrow: #1b274e;

@operators_bg: #5cb712;
@operators_btop: #a7ce87;
@operators_bbot: #488f0e;
@operators_itop: #336609;
@operators_ibot: #74b83d;
@operators_inset: #54a810;
@operators_arrow: #214306;

@obsolete_bg: #f00;    // TODO
@obsolete_btop: #f00;  // TODO
@obsolete_bbot: #f00;  // TODO
@obsolete_ibot: none;  // TODO
@obsolete_itop: none;  // TODO
@obsolete_inset: none; // TODO
@obsolete_arrow: none; // TODO

@pen_bg: #0e9a6c;
@pen_btop: #30a880;
@pen_bbot: #0a6e4d;
@pen_itop: #395b3f; // TODO
@pen_ibot: #62785b; // TODO
@pen_inset: none;   // TODO
@pen_arrow: none;   // TODO

@sensing_bg: #2ca5e2;
@sensing_btop: #49b1e6;
@sensing_bbot: #1f75a1;
@sensing_itop: #185c7e;
@sensing_ibot: #51abd8;
@sensing_inset: #2897cf;
@sensing_arrow: #103c53;

@sound_bg: #bb42c3;
@sound_btop: #c45ccb;
@sound_bbot: #852f8b;
@sound_itop: #68246d;
@sound_ibot: #bc61c1;
@sound_inset: #ac3cb3;
@sound_arrow: #451848;

@variables_bg: #ee7d16;
@variables_btop: #f08d33;
@variables_bbot: #c36612; // or #934d0d ?
@variables_itop: #934d0d;
@variables_ibot: #e48836;
@variables_inset: #da7214;
@variables_arrow: #572d08;

@custom_outline: #31125c;
@number_dropdown_arrow: #666;
@background: #fff;


// Z-indexes //
@z_container: 100;
@z_bottom_stub: 101;
@z_cmouth: 102;



.border-radius(@radius) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}

.box-sizing_border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}


.stack-color(@category) {
    background-color: ~"@{@{category}_bg}";
    border-color: ~"@{@{category}_btop}" ~"@{@{category}_bbot}"
                  ~"@{@{category}_bbot}" ~"@{@{category}_btop}";
}


// See http://stackoverflow.com/questions/11198221/defining-variable-variables-using-less-css
.category-color(@category) {
    (~".@{category}") {
        &.hat, &.custom-definition, &.stack, &.boolean, &.reporter, &.embedded,
        &.variable-reporter, &.custom-arg {
            .stack-color(@category);
        }

        &.stack, &.cap {
            &:before {
                border-color: ~"@{@{category}_bbot}" ~"@{@{category}_btop}"
                              ~"@{@{category}_btop}" ~"@{@{category}_bbot}";
            }
        }

        &.custom-definition:before {
            border-color: ~"@{@{category}_btop}";
        }

        > .dropdown, > .boolean.empty, > .color {
            background: ~"@{@{category}_inset}";
            border-color: ~"@{@{category}_itop}" ~"@{@{category}_ibot}"
                          ~"@{@{category}_ibot}" ~"@{@{category}_itop}";

            &:after {
                color: ~"@{@{category}_arrow}";
            }
        }
        
        .cmouth {
            &:before {
                background-color: ~"@{@{category}_bg}";
                border-left-color: ~"@{@{category}_btop}";
                border-right-color: ~"@{@{category}_bbot}";
            }
        }
    }
}


.container {
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 10px;
    line-height: 10px;

    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    
    display: block;

    z-index: @z_container;


    // Colors //
    .category-color("obsolete");
    .category-color("control");
    .category-color("custom");
    .category-color("events");
    .category-color("list");
    .category-color("looks");
    .category-color("motion");
    .category-color("operators");
    .category-color("pen");
    .category-color("sensing");
    .category-color("sound");
    .category-color("variables");
    .category-color("custom-arg");


    // Scripts are stacks of blocks //
    .script {
        margin-top: 15px;
        &:first-child {
            margin-top: 0;
        }
    }


    // Elements //
    div {
        display: table;
    }

    span {
        padding: 2px;
        display: inline-block;
    }

    .hat, .custom-definition, .stack, .boolean, .reporter,
        .variable-reporter, .custom-arg, .dropdown {
        border: 2px solid;
    }
    .stack {
        border-top-width: 1px;
    }

    .stack, .hat, .custom-definition {
        padding: 2px 4px;

        // vertically centred min height
        min-height: 16px;
        line-height: 16px;
        & > * {
            line-height: 10px;
        }
    } 
    
    .stack, .outline {
        .border-radius(4px);
    }


    // Puzzle pieces //
    .stack, .hat, .cap, .custom-definition {
        position: relative;
    }

    .stack, .cap {
        &:before {
            content: "";
            position: absolute;
            left: 11px;
            width: 13px;
            height: 3px;
            border: inherit;
            border-top: none;
            background: @background;
            .border-radius(0 0 4px 4px);

            top: -1px;
        }
    }

    .stack, .hat, .custom-definition {
        &:after {
            content: "";
            position: absolute;
            left: 12px;
            width: 11px;
            height: 3px;
            border: inherit;
            border-top: none;
            background: inherit;
            .border-radius(0 0 3px 3px);

            bottom: -5px;
            z-index: @z_bottom_stub;
        }
    }

    .cwrap.cap > .cend:after {
        content: none;
    }
    
    .cstart, .celse {
        &:after {
            left: 26px;
        }
    }

    .cend, .celse {
        &:before {
            left: 25px;
        }
    }


    // Custom block definition outline //
    .outline {
        padding: 3px 4px 3px 5px;
        border: 1px solid #31125c;
        margin-left: 5px;
        margin: 4px 0 4px 5px;
        position: relative;
        background: inherit;

        &:before {
            top: -1px;
        }

        &:after {
            bottom: -4px;
        }

        &:before, &:after {
            content: "";
            position: absolute;
            left: 11px;
            width: 13px;
            height: 3px;
            border: inherit;
            border-top: none;
            background: inherit;
            .border-radius(0 0 4px 4px);
        }
    }


    // Hat block shapes //
    .hat, .custom-definition {
        position: relative;

        padding: 4px;

        .border-radius(0 4px 4px 4px);
        
        margin-top: 15px;

        min-width: 120px;

        &:before {
            content: "";
            position: absolute;
            height: 15px;
            width: 100px;
            top: -15px;
            left: -1px;
            background: inherit;
            border: inherit;
            border-bottom: none;
            .border-radius(50px 50px 0 0 e('/') 15px 15px 0 0);
        }

        &.custom-definition:before {
            border-top-width: 2px;
        }
    }


    // C Blocks //
    @cleft_padding: 14px;
    .cwrap { 
        .cstart {
            .border-radius(4px 4px 4px 0);
        }

        .cmouth {
            position: relative;

            &:empty {
                content: " ";
                min-height: 12px;
            }

            &:before {
                content: "";
                display: block;
                position: absolute;
                border-style: solid;
                border-width: 0 2px 0 2px;
                width: @cleft_padding - 4px;
                height: 100%;
                margin: -2px 0 0;
                padding: 2px 0 1px;
                z-index: @z_cmouth;
            }

            > div {
                margin-left: @cleft_padding;
            }
        }

        .celse {
            .box-sizing_border-box;
            width: 100%;
            position: relative;
            .border-radius(0 4px 4px 0);
        }

        .cend {
            .box-sizing_border-box;
            max-height: 8px;
            width: 100%;
            span {
                display: none;
            }
            .border-radius(0 4px 4px 4px);
        }
    }


    // Block inserts //
    .color {
        border: 1px solid;
        width: 11px;
        height: 11px;
        padding: 0;
    }

    .number, .number-dropdown, .string, .dropdown {
        font-weight: normal;
    }

    .number, .number-dropdown, .string {
        background: #fff;
        color: #000;
        border: 1px solid #a59e97;
        border-color: #777 #fff #fff #777;
        // box-shadow: 1px 1px 1px #8f958a inset;
        padding: 2px 4px;
    }

    .string {
        padding: 2px;
    }

    .number, .number-dropdown {
        border-radius: 10px;
    }

    .dropdown {
        border: 1px solid;
    }
    
    .dropdown, .number-dropdown {
        &:after {
            content: "▼";
            font-size: 8px;
            padding: 0 0 0 4px;
            .border-radius(2px);
        }
    }

    .number-dropdown:after {
        color: @number_dropdown_arrow;
    }
   
    .embedded, .boolean {
        border: 2px solid;
        padding: 2px 4px;
    }

    .reporter, .custom-arg {
        padding: 3px 6px;
        border-width: 2px;
    }

    // Rounded shapes //
    .reporter, .custom-arg, .embedded, .boolean {
        .border-radius(10000px);
    }

    


    /*// Free-floating reporters //
    div {
        &.reporter, &.embedded, &.boolean {
            margin: 8px 0 0;
        }
    }  */  
}
