
text {
  font-family: Lucida Grande, Verdana, Arial, DejaVu Sans, sans-serif;
  font-weight: bold;
  fill: #fff;
  font-size: 10px;
  word-spacing: +1px;
}

.obsolete { fill: #d42828; }
.motion { fill: #4a6cd4; }
.looks { fill: #8a55d7; }
.sound { fill: #bb42c3; }
.pen { fill: #0e9a6c;  }
.events { fill: #c88330; }
.control { fill: #e1a91a; }
.sensing { fill: #2ca5e2; }
.operators { fill: #5cb712; }
.variables { fill: #ee7d16; }
.list { fill: #cc5b22 }
.custom { fill: #632d99; }
.custom-arg { fill: #5947b1; }
.extension { fill: #4b4a60; }
.grey { fill: #969696; }

.bevel {
  filter: url(#bevelFilter);
}

.input {
  filter: url(#inputBevelFilter);
}
.input-number,
.input-string,
.input-number-dropdown {
  fill: #fff;
}
.literal-number,
.literal-string,
.literal-number-dropdown,
.literal-dropdown {
  font-weight: normal;
  font-size: 9px;
  word-spacing: 0;
}
.literal-number,
.literal-string,
.literal-number-dropdown {
  fill: #000;
}

.darker {
  filter: url(#inputDarkFilter);
}

.outline {
  stroke: #fff;
  stroke-opacity: 0.2;
  stroke-width: 2;
  fill: none;
}

.define-hat-cap {
  stroke: #632d99;
  stroke-width: 1;
  fill: #8e2ec2;
}

